@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  min-width: 320px;
  background: #fff;
  font-size: 100%;
  font-family: sans-serif;
}

header {
  background-color: #15a;
}

#website-name {
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#content {
  margin: 10px auto;
  max-width: 600px;
}

#canvas-container {
  position: relative;
  margin: 0 auto;
  width: 95%;
  background-color: #ddf;
  touch-action: manipulation;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#canvas {
  position: absolute;
  pointer-events: none;
}

#face-image {
  position: absolute;
}

#canvas-container .draggable {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #dfd;
  opacity: 0;
}

#info {
  padding: 10px;
}
