@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  background: #fff;
  font-size: 100%;
  font-family: sans-serif;
}

header {
  padding: 0.5em;
  background-color: #15a;
  color: #fff;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

#container {
  position: relative;
  margin: 10px auto;
  width: 95%;
  min-width: 320px;
  max-width: 600px;
  background-color: #ddf;
  touch-action: manipulation;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#canvas {
  position: absolute;
  pointer-events: none;
}

#face-image {
  position: absolute;
}

#container .draggable {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #dfd;
  opacity: 0;
}
